.formGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-4);
}

.formSection {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1100px) {
  .formGrid {
    grid-template-columns: 1fr;
  }
}
